/* Mobile-First: Screens below 701px */
.App {
  text-align: center;
}

header {
  height: 10vh;
  width: 100vw;
  background-color: #003366;
  color: #feda6a;
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

footer {
  height: 20vh;
  width: 100vw;
  color: #fff;
  background-color: #003366;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer img {
  width: 2rem;
  height: 2rem;
  padding: 0 2px 0 2px
}

/* Tablet: Screens above 701px and below 901px */
@media only screen and (min-width: 701px) {
}

/* Large Tablet: Screens above 901px and below 1201px */
@media only screen and (min-width: 901px) {
}

/* Non-mobile: Screens above 1201px */
@media only screen and (min-width: 1201px) {
}