/* Mobile-First: Screens below 701px */
.App {
  text-align: center;
}

header {
  height: 10vh;
  width: 100vw;
  background-color: #595387;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-size: 1.8rem;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.landingImg {
  height: 55vh;
}

h2 {
  font-size: 1.2rem;
  padding: 10px;
}

footer {
  height: 20vh;
  width: 100vw;
  color: #fff;
  background-color: #524364;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer img {
  width: 2rem;
  height: 2rem;
  padding: 0 2px 0 2px
}

/* Tablet: Screens above 701px and below 755px */
@media only screen and (min-width: 701px) {
  h1 {
    font-size: 2rem;
  }
}
/* Tablet: Screens above 755px and below 901px */
@media only screen and (min-width: 755px) {
  .landingImg {
    width: 100%;
    height: auto;
  }
}

/* Large Tablet: Screens above 901px and below 1201px */
@media only screen and (min-width: 901px) {
}

/* Non-mobile: Screens above 1201px */
@media only screen and (min-width: 1201px) {
}