/* Mobile-First: Screens below 701px */
.repoResults {
  width: 100vw;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  list-style-type: none;
}

.resultsCard {
  width: 80vw;
  min-height: 200px;
  box-shadow: 0 0 25px 0 rgba(26,26,26,.1);
  background-color: #fff;
  margin-top: 5vw;
}

.resultsCard:last-child {
  margin-bottom: 5vw;
}

/* Tablet: Screens above 701px and below 901px */
@media only screen and (min-width: 701px) {
}

/* Large Tablet: Screens above 901px and below 1201px */
@media only screen and (min-width: 901px) {

}

/* Non-mobile: Screens above 1201px */
@media only screen and (min-width: 1201px) {
}