/* Mobile-First: Screens below 701px */
.repoResults {
  width: 100vw;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

/* Tablet: Screens above 701px and below 901px */
@media only screen and (min-width: 701px) {
}

/* Large Tablet: Screens above 901px and below 1201px */
@media only screen and (min-width: 901px) {

}

/* Non-mobile: Screens above 1201px */
@media only screen and (min-width: 1201px) {
}