/* Mobile-First: Screens below 701px */
.App {
  text-align: center;
}

.App * {
  border: 1px solid red;
}

header {
  height: 10vh;
  width: 100vw;
  background: #2ecc71;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

footer {
  height: 20vh;
  width: 100vw;
}

.repoSearch {
  width: 100%;
  min-height: 15vh;
}

.repoMain {
  width: 100vw;
  min-height: 55vh;
  display: flex;
  flex-direction: column
}

.repoReadMe {
  width: 100vw;
  min-height: 27.5vh;
}

.repoInfo {
  width: 100vw;
  min-height: 27.5vh;
}

/* Tablet: Screens above 701px and below 901px */
@media only screen and (min-width: 701px) {
}

/* Large Tablet: Screens above 901px and below 1201px */
@media only screen and (min-width: 901px) {
  .repoMain {
    flex-direction: row;
  }
}

/* Non-mobile: Screens above 1201px */
@media only screen and (min-width: 1201px) {
}