/* Mobile-First: Screens below 701px */
.App {
  text-align: center;
}

header {
  height: 10vh;
  width: 100vw;
  background-color: #003366;
  color: #feda6a;
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

footer {
  height: 20vh;
  width: 100vw;
  color: #fff;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer img {
  width: 2rem;
  height: 2rem;
  padding: 0 2px 0 2px
}

.repoSearch {
  width: 100%;
  min-height: 15vh;
  box-shadow: 0 0 25px 0 rgba(26,26,26,.1);
  z-index: 3;
}

.repoMain {
  width: 100vw;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.repoReadMe {
  width: 100vw;
  min-height: 27.5vh;
}

.repoInfo {
  width: 100vw;
  min-height: 27.5vh;
}

/* Tablet: Screens above 701px and below 901px */
@media only screen and (min-width: 701px) {
}

/* Large Tablet: Screens above 901px and below 1201px */
@media only screen and (min-width: 901px) {
  .repoMain {
    flex-direction: row;
  }
}

/* Non-mobile: Screens above 1201px */
@media only screen and (min-width: 1201px) {
}